<footer>
    <p style="text-align:center">All material herein &copy; 2000-2013 MyTailor.com, all rights reserved.&nbsp;&nbsp;&nbsp;&nbsp; Powered by: <a href="PoweredByGsr.htm">GSR Inc.</a></p>
</footer>
