<div class="span2 main-menu-span" style="width: 200px;">
    <div class="well nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            @Html.Raw(ViewBag.MenuData)
        </ul>
        <label id="for-is-ajax" class="hidden-tablet" for="is-ajax" style="display: none">
            <input id="is-ajax" type="checkbox">
            Ajax on menu</label>
    </div>
    <!--/.well -->
</div>
<!--/span-->